.revisePass
  width 340px
  min-height 750px
  margin 100px auto
  .box-top
    width 150px
    height 40px
    margin 40px auto
    h1
      font-size 25px
      color rgba(0, 0, 0, 0.6)
      margin 0 auto
