.login-box
  width 340px
  height auto
  text-align center
  margin 0 auto
  padding-top 100px
  .logo
    margin 0 0 20px 0
    img
      height 176px
    h1
      color rgba(0, 0, 0, 0.6)
      margin-bottom 50px
      font-size 25px

