.nav-bar
  height 60px
  width 100%
  background #ffffff
  h1
    margin 0
    font-weight 500
    color #666
    padding-left 50px
    height 60px
    line-height 60px
    font-size 22px
    float left
  .user
    float right
    margin-right 30px
    .ant-menu-submenu-horizontal
      height 60px
      width 120px
      .ant-menu-submenu-title
        height 60px
        padding-top 9px
